
.source {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.source span {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.source:hover {
  background-color: #525357;
}